@tailwind base;
@tailwind components;
@tailwind utilities;

.resizable {
  resize: both;
  overflow: auto;
}

.gridd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

table tbody tr.child {
  height: 80%;
}
